In [1]:
import pandas as pd

In [2]:
data = [
    [0.52, 0.12, 0.11, 0.27, 0.44, 0.27, 0.40, 0.18, 0.26, 0.29, 0.29, 0.28],
    [0.22, 0.75, 0.13, 0.16, 0.10, 0.43, 0.31, 0.60, 0.16, 0.28, 0.26, 0.23],
    [0.20, 0.08, 0.08, 0.36, 0.35, 0.19, 0.20, 0.31, 0.28, 0.30, 0.34, 0.34],
    [0.06, 0.05, 0.68, 0.20, 0.12, 0.12, 0.09, 0.27, 0.15, 0.15, 0.12, 0.09]
]

# Creating the DataFrame
columns = ['Alpha', 'Beta', 'Delta', 'Eps. Progenitors', 'Epsilon', 'Fev+', 'Fev+ Alpha', 'Fev+ Beta', 'Fev+ Delta', 'Ngn3 high', 'Ngn3 high cycling', 'Ngn3 low']
index = ['Alpha', 'Beta', 'Epsilon', 'Delta']
df_moscot = pd.DataFrame(data, columns=columns, index=index)

In [5]:
df_moscot

,Alpha,Beta,Delta,Eps. Progenitors,Epsilon,Fev+,Fev+ Alpha,Fev+ Beta,Fev+ Delta,Ngn3 high,Ngn3 high cycling,Ngn3 low
Alpha,0.52,0.12,0.11,0.27,0.44,0.27,0.40,0.18,0.26,0.29,0.29,0.28
Beta,0.22,0.75,0.13,0.16,0.10,0.43,0.31,0.60,0.16,0.28,0.26,0.23
Epsilon,0.20,0.08,0.08,0.36,0.35,0.19,0.20,0.31,0.28,0.30,0.34,0.34
Delta,0.06,0.05,0.68,0.20,0.12,0.12,0.09,0.27,0.15,0.15,0.12,0.09

In [7]:
data_2 = [
    [0.16, 0.11, 0.07, 0.33, 0.49, 0.21, 0.15, 0.15, 0.34, 0.29, 0.29, 0.31],
    [0.18, 0.15, 0.68, 0.21, 0.14, 0.22, 0.17, 0.21, 0.22, 0.21, 0.21, 0.21],
    [0.45, 0.24, 0.15, 0.31, 0.25, 0.37, 0.52, 0.33, 0.29, 0.33, 0.33, 0.32],
    [0.20, 0.50, 0.11, 0.16, 0.12, 0.19, 0.16, 0.31, 0.15, 0.17, 0.17, 0.16]
]

# Creating the DataFrame
index_2 = ['Epsilon', 'Delta', 'Alpha', 'Beta']
df_connectivity = pd.DataFrame(data_2, columns=columns, index=index_2)

In [8]:
df_connectivity

,Alpha,Beta,Delta,Eps. Progenitors,Epsilon,Fev+,Fev+ Alpha,Fev+ Beta,Fev+ Delta,Ngn3 high,Ngn3 high cycling,Ngn3 low
Epsilon,0.16,0.11,0.07,0.33,0.49,0.21,0.15,0.15,0.34,0.29,0.29,0.31
Delta,0.18,0.15,0.68,0.21,0.14,0.22,0.17,0.21,0.22,0.21,0.21,0.21
Alpha,0.45,0.24,0.15,0.31,0.25,0.37,0.52,0.33,0.29,0.33,0.33,0.32
Beta,0.20,0.50,0.11,0.16,0.12,0.19,0.16,0.31,0.15,0.17,0.17,0.16

In [29]:
import pandas as pd

# Manually inputting the values from the heatmap image
data_3 = [
    [0.67, 0.91, 0.54, 1.00, 0.95, 1.00, 0.98, 0.97, 1.00, 1.00, 1.00, 1.00],
    [0.32, 0.03, 0.02, 0.00, 0.05, 0.00, 0.02, 0.02, 0.00, 0.00, 0.00, 0.00],
    [0.00, 0.01, 0.45, 0.00, 0.00, 0.00, 0.00, 0.00, 0.01, 0.00, 0.00, 0.00],
    [0.00, 0.04, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00, 0.00]
]

# Creating the DataFrame
index_3 = ['Epsilon', 'Alpha', 'Delta', 'Beta']
df_cytotrace = pd.DataFrame(data_3, columns=columns, index=index_3)

In [30]:
df_cytotrace

,Alpha,Beta,Delta,Eps. Progenitors,Epsilon,Fev+,Fev+ Alpha,Fev+ Beta,Fev+ Delta,Ngn3 high,Ngn3 high cycling,Ngn3 low
Epsilon,0.67,0.91,0.54,1.0,0.95,1.0,0.98,0.97,1.00,1.0,1.0,1.0
Alpha,0.32,0.03,0.02,0.0,0.05,0.0,0.02,0.02,0.00,0.0,0.0,0.0
Delta,0.00,0.01,0.45,0.0,0.00,0.0,0.00,0.00,0.01,0.0,0.0,0.0
Beta,0.00,0.04,0.00,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0

In [11]:
data_4 = [
    [0.59, 0.09, 0.22, 0.22, 0.29, 0.35, 0.51, 0.35, 0.18, 0.26, 0.30, 0.25],
    [0.07, 0.03, 0.52, 0.58, 0.28, 0.36, 0.15, 0.13, 0.66, 0.52, 0.45, 0.54],
    [0.17, 0.86, 0.19, 0.12, 0.08, 0.20, 0.18, 0.45, 0.09, 0.14, 0.17, 0.14],
    [0.18, 0.02, 0.06, 0.08, 0.35, 0.10, 0.16, 0.07, 0.07, 0.08, 0.09, 0.08]
]

# Creating the DataFrame
index_4 = ['Alpha', 'Delta', 'Beta', 'Epsilon']
df_multivelo = pd.DataFrame(data_4, columns=columns, index=index_4)

In [12]:
df_multivelo

,Alpha,Beta,Delta,Eps. Progenitors,Epsilon,Fev+,Fev+ Alpha,Fev+ Beta,Fev+ Delta,Ngn3 high,Ngn3 high cycling,Ngn3 low
Alpha,0.59,0.09,0.22,0.22,0.29,0.35,0.51,0.35,0.18,0.26,0.30,0.25
Delta,0.07,0.03,0.52,0.58,0.28,0.36,0.15,0.13,0.66,0.52,0.45,0.54
Beta,0.17,0.86,0.19,0.12,0.08,0.20,0.18,0.45,0.09,0.14,0.17,0.14
Epsilon,0.18,0.02,0.06,0.08,0.35,0.10,0.16,0.07,0.07,0.08,0.09,0.08

In [13]:
data_5 = [
    [0.18, 0.05, 0.01, 0.08, 0.16, 0.09, 0.15, 0.06, 0.09, 0.08, 0.09, 0.08],
    [0.00, 0.00, 0.00, 0.11, 0.06, 0.00, 0.00, 0.00, 0.03, 0.01, 0.01, 0.02],
    [0.45, 0.27, 0.93, 0.50, 0.48, 0.43, 0.44, 0.36, 0.58, 0.46, 0.42, 0.47],
    [0.37, 0.68, 0.06, 0.31, 0.30, 0.48, 0.41, 0.58, 0.30, 0.44, 0.48, 0.42]
]

# Creating the DataFrame
index_5 = ['Alpha', 'Epsilon', 'Delta', 'Beta']
df_velovi = pd.DataFrame(data_5, columns=columns, index=index_5)

In [14]:
df_velovi

,Alpha,Beta,Delta,Eps. Progenitors,Epsilon,Fev+,Fev+ Alpha,Fev+ Beta,Fev+ Delta,Ngn3 high,Ngn3 high cycling,Ngn3 low
Alpha,0.18,0.05,0.01,0.08,0.16,0.09,0.15,0.06,0.09,0.08,0.09,0.08
Epsilon,0.00,0.00,0.00,0.11,0.06,0.00,0.00,0.00,0.03,0.01,0.01,0.02
Delta,0.45,0.27,0.93,0.50,0.48,0.43,0.44,0.36,0.58,0.46,0.42,0.47
Beta,0.37,0.68,0.06,0.31,0.30,0.48,0.41,0.58,0.30,0.44,0.48,0.42

In [17]:
import pandas as pd

# Manually inputting the values from the heatmap image
data_6 = [
    [0.28, 0.21, 0.16, 0.31, 0.52, 0.25, 0.25, 0.24, 0.30, 0.25, 0.26, 0.25],
    [0.52, 0.40, 0.28, 0.49, 0.36, 0.50, 0.56, 0.47, 0.49, 0.50, 0.51, 0.50],
    [0.06, 0.05, 0.43, 0.06, 0.04, 0.06, 0.06, 0.06, 0.06, 0.06, 0.06, 0.07],
    [0.14, 0.35, 0.14, 0.14, 0.08, 0.19, 0.13, 0.23, 0.14, 0.18, 0.17, 0.18]
]

# Creating the DataFrame
index_6 = ['Epsilon', 'Alpha', 'Delta', 'Beta']
df_scvelo = pd.DataFrame(data_6, columns=columns, index=index_6)

In [18]:
df_scvelo

,Alpha,Beta,Delta,Eps. Progenitors,Epsilon,Fev+,Fev+ Alpha,Fev+ Beta,Fev+ Delta,Ngn3 high,Ngn3 high cycling,Ngn3 low
Epsilon,0.28,0.21,0.16,0.31,0.52,0.25,0.25,0.24,0.30,0.25,0.26,0.25
Alpha,0.52,0.40,0.28,0.49,0.36,0.50,0.56,0.47,0.49,0.50,0.51,0.50
Delta,0.06,0.05,0.43,0.06,0.04,0.06,0.06,0.06,0.06,0.06,0.06,0.07
Beta,0.14,0.35,0.14,0.14,0.08,0.19,0.13,0.23,0.14,0.18,0.17,0.18

In [19]:
data_7 = [
    [0.60, 0.20, 0.13, 0.32, 0.38, 0.39, 0.47, 0.31, 0.32, 0.36, 0.36, 0.35],
    [0.31, 0.72, 0.17, 0.36, 0.24, 0.46, 0.40, 0.57, 0.34, 0.42, 0.42, 0.40],
    [0.01, 0.01, 0.01, 0.20, 0.31, 0.02, 0.02, 0.01, 0.21, 0.09, 0.09, 0.12],
    [0.08, 0.07, 0.70, 0.12, 0.08, 0.13, 0.11, 0.11, 0.13, 0.13, 0.13, 0.13]
]

# Creating the DataFrame
index_7 = ['Alpha', 'Beta', 'Epsilon', 'Delta']
df_dpt = pd.DataFrame(data_7, columns=columns, index=index_7)

In [21]:
df_dpt

,Alpha,Beta,Delta,Eps. Progenitors,Epsilon,Fev+,Fev+ Alpha,Fev+ Beta,Fev+ Delta,Ngn3 high,Ngn3 high cycling,Ngn3 low
Alpha,0.60,0.20,0.13,0.32,0.38,0.39,0.47,0.31,0.32,0.36,0.36,0.35
Beta,0.31,0.72,0.17,0.36,0.24,0.46,0.40,0.57,0.34,0.42,0.42,0.40
Epsilon,0.01,0.01,0.01,0.20,0.31,0.02,0.02,0.01,0.21,0.09,0.09,0.12
Delta,0.08,0.07,0.70,0.12,0.08,0.13,0.11,0.11,0.13,0.13,0.13,0.13

In [22]:
dfs = [df_cytotrace, df_multivelo, df_scvelo, df_dpt, df_moscot, df_velovi, df_connectivity]

In [26]:
import numpy as np
for df in dfs:
    print(np.corrcoef(df.values.flatten(), df_moscot.values.flatten())[0,1])

0.09360153672239739
-0.08217166199148308
0.17338073238386578
0.7625814055957647
1.0
-0.3297847485833344
-0.03700604759452224

In [28]:
from scipy.stats import spearmanr
for df in dfs:
    print(spearmanr(df.values.flatten(), df_moscot.values.flatten()))

SignificanceResult(statistic=0.10760394228638012, pvalue=0.4666329151703097)
SignificanceResult(statistic=0.003425123006675006, pvalue=0.9815669297401397)
SignificanceResult(statistic=0.10603197601924295, pvalue=0.47320581499191905)
SignificanceResult(statistic=0.6000111099677733, pvalue=6.563159530477501e-06)
SignificanceResult(statistic=1.0, pvalue=0.0)
SignificanceResult(statistic=-0.22427167674660087, pvalue=0.1254147149715091)
SignificanceResult(statistic=0.21144082386355417, pvalue=0.14911655461720416)

In [37]:
data_9 = [
    [0.51, 0.26, 0.13, 0.29, 0.27, 0.36, 0.40, 0.32, 0.29, 0.34, 0.34, 0.34],
    [0.35, 0.61, 0.17, 0.36, 0.27, 0.47, 0.43, 0.52, 0.35, 0.44, 0.44, 0.43],
    [0.02, 0.01, 0.01, 0.21, 0.34, 0.02, 0.02, 0.19, 0.07, 0.07, 0.07, 0.08],
    [0.12, 0.11, 0.69, 0.14, 0.12, 0.15, 0.14, 0.14, 0.16, 0.15, 0.15, 0.15]
]

index_9 = ['Alpha', 'Beta', 'Epsilon', 'Delta']
df_dpt_atac = pd.DataFrame(data_9, columns=columns, index=index_9)

In [38]:
df_dpt_atac

,Alpha,Beta,Delta,Eps. Progenitors,Epsilon,Fev+,Fev+ Alpha,Fev+ Beta,Fev+ Delta,Ngn3 high,Ngn3 high cycling,Ngn3 low
Alpha,0.51,0.26,0.13,0.29,0.27,0.36,0.40,0.32,0.29,0.34,0.34,0.34
Beta,0.35,0.61,0.17,0.36,0.27,0.47,0.43,0.52,0.35,0.44,0.44,0.43
Epsilon,0.02,0.01,0.01,0.21,0.34,0.02,0.02,0.19,0.07,0.07,0.07,0.08
Delta,0.12,0.11,0.69,0.14,0.12,0.15,0.14,0.14,0.16,0.15,0.15,0.15

In [40]:
data_10 = [
    [0.55, 0.23, 0.12, 0.30, 0.35, 0.36, 0.43, 0.30, 0.32, 0.35, 0.35, 0.34],
    [0.34, 0.66, 0.18, 0.37, 0.28, 0.47, 0.42, 0.56, 0.37, 0.44, 0.44, 0.43],
    [0.01, 0.00, 0.00, 0.19, 0.25, 0.01, 0.01, 0.01, 0.16, 0.06, 0.06, 0.08],
    [0.11, 0.11, 0.69, 0.14, 0.12, 0.15, 0.14, 0.14, 0.16, 0.15, 0.15, 0.15]
]

# Creating the DataFrame
index_10 = ['Alpha', 'Beta', 'Epsilon', 'Delta']
df_dpt_both = pd.DataFrame(data_10, columns=columns, index=index_10)

In [41]:
dfs_dpt = [df_dpt, df_dpt_atac, df_dpt_both]

In [43]:
for df_1 in dfs_dpt:
    for df_2 in dfs_dpt:
        print(np.corrcoef(df_1.values.flatten(), df_2.values.flatten())[0,1])

1.0
0.9644389834614067
0.9890149260392971
0.9644389834614067
1.0
0.978209687493235
0.9890149260392971
0.9782096874932351
1.0