In [39]:
import sys,os
sys.path.append('/home/mgander/mouse_atlas')
import c2
import pandas as pd

In [40]:
CT0 = pd.read_pickle('/home/mgander/mouse_atlas/data/moscot_maps/Anchors/CTs/E10.5_E11.5_cell_type_transitions.pkl')

In [55]:
c2.evaluate_using_curated_transitions(CT0, cutoff=0.00)

   Accuracy  Total_weight
0  0.779983          55.0

In [56]:
c2.evaluate_using_germ_layers(CT0, cutoff=0.00)

   Accuracy  All_transitions
0  0.964083             55.0

In [57]:
CT1 = pd.read_pickle('CT_metacells2.pkl')
CT1 = CT1/CT1.sum()

In [58]:
c2.evaluate_using_curated_transitions(CT1, cutoff=0.00)

   Accuracy  Total_weight
0  0.756499          55.0

In [59]:
c2.evaluate_using_germ_layers(CT1, cutoff=0.00)

   Accuracy  All_transitions
0  0.956559             55.0

In [52]:
vals = [0.779983, 0.964083, 0.756499, 0.956559]
method = ['single_cell', 'single_cell', 'metacell', 'metacell']
eval_type = ['curated', 'germ', 'curated', 'germ']
pd.DataFrame({'vals':vals, 'method':method, 'eval_type':eval_type})

In [54]:
pd.DataFrame({'vals':vals, 'method':method, 'eval_type':eval_type})

       vals       method eval_type
0  0.779983  single_cell   curated
1  0.964083  single_cell      germ
2  0.756499     metacell   curated
3  0.859885     metacell      germ