In [1]:
import os
import warnings
from pathlib import Path

warnings.simplefilter(action="ignore", category=FutureWarning)
import matplotlib as mpl
import mplscience
import numpy as np
import pandas as pd
import seaborn as sns
import yaml
from matplotlib import pyplot as plt
from scipy.sparse import csr_matrix

%load_ext autoreload
%autoreload 2

In [2]:
path_data = Path("/lustre/groups/ml01/workspace/giovanni.palla/moscot/processed_data")
dataset_ids = [30, 37, 45, 26, 22, 33, 32, 14, 3, 20, 21, 41, 1, 39]

In [8]:
output = Path(
    "/lustre/groups/ml01/workspace/moscot_paper/benchmarks/space/mapping_methods"
)
results = []
for file in os.listdir(output):
    l = file.split(",")
    params = {}
    if (output / file / "results.csv").is_file():
        for i in l:
            k, v = i.split("=")
            params.update({k: v})
        df = pd.DataFrame(params, index=[0])
        res = pd.read_csv(output / file / "results.csv", index_col=0)
        df = pd.concat([df, res], axis=1)
        results.append(df)
out = pd.concat(results)
out

,dataset,launcher,method.learning_rate,method.name,method.num_epochs,seed,time,method,kl_reg,adata_sc_size,...,corr_results_max_spearman,corr_results_min_spearman,method.alpha,method.cost,method.epsilon,method.rep,converged,cost,method.epochs,method.n_latent
0,14,icb,0.1,TANGRAM,2000,224,5.653099,TANGRAM,0.000454,1519,...,0.838411,0.335586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,45,icb,NaN,MOSCOT,NaN,422222,11.092454,MOSCOT,NaN,1088,...,0.517024,-0.068651,0.5,sq_euclidean,0.001,pca,False,1.172533,NaN,NaN
0,41,icb,NaN,GIMVI,NaN,422222,316.814629,GIMVI,NaN,3000,...,0.052488,-0.082824,NaN,NaN,NaN,NaN,NaN,NaN,1000,10
0,26,icb,NaN,MOSCOT,NaN,422222,6.417926,MOSCOT,NaN,1212,...,0.666330,-0.028988,0.2,sq_euclidean,0.001,pca,False,4.471883,NaN,NaN
0,32,icb,NaN,GIMVI,NaN,224,316.209490,GIMVI,NaN,1512,...,0.104860,-0.091405,NaN,NaN,NaN,NaN,NaN,NaN,1000,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,33,icb,NaN,MOSCOT,NaN,224,6.604916,MOSCOT,NaN,1512,...,0.628952,-0.023143,0.2,cosine,0.0001,pca,False,1.420822,NaN,NaN
0,3,icb,NaN,MOSCOT,NaN,422222,7.076473,MOSCOT,NaN,1792,...,0.104737,-0.024782,0.1,cosine,0.001,pca,False,5.040081,NaN,NaN
0,32,icb,0.1,TANGRAM,2000,42,13.872368,TANGRAM,0.000667,1512,...,0.796760,-0.029580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1,icb,NaN,GIMVI,NaN,224,416.173152,GIMVI,NaN,4212,...,0.070762,-0.034726,NaN,NaN,NaN,NaN,NaN,NaN,1000,50
0,32,icb,NaN,MOSCOT,NaN,224,9.811729,MOSCOT,NaN,1512,...,0.545406,-0.012939,0.2,sq_euclidean,0.0001,pca,False,4.976869,NaN,NaN