In [1]:
import scanpy as sc

In [2]:
adata = sc.read("/Users/dominik.klein/data/pancreas_multiome_2022_processed.h5ad")

In [3]:
adata

AnnData object with n_obs × n_vars = 16918 × 242922
    obs: 'n_counts', 'sample', 'n_genes', 'log_genes', 'mt_frac', 'rp_frac', 'ambi_frac', 'nCount_RNA', 'nFeature_RNA', 'nCount_ATAC', 'nFeature_ATAC', 'nucleosome_signal', 'nucleosome_percentile', 'TSS.enrichment', 'TSS.percentile', 'S_score', 'G2M_score', 'phase', 'proliferation', 'celltype', 'nCount_peaks', 'nFeature_peaks'
    var: 'modality'
    uns: 'celltype_colors', 'neighbors'
    obsm: 'X_pca', 'X_pca_wsnn', 'X_spca_wsnn', 'X_umap', 'X_umap_ATAC', 'X_umap_GEX', 'X_umap_wsnn', 'lsi_full', 'lsi_red', 'umap', 'umap_ATAC', 'umap_GEX'
    obsp: 'connectivities', 'connectivities_wnn', 'distances', 'distances_wnn'

In [4]:
adata.obs.groupby("sample").count()

,n_counts,n_genes,log_genes,mt_frac,rp_frac,ambi_frac,nCount_RNA,nFeature_RNA,nCount_ATAC,nFeature_ATAC,...,nucleosome_percentile,TSS.enrichment,TSS.percentile,S_score,G2M_score,phase,proliferation,celltype,nCount_peaks,nFeature_peaks
sample,,,,,,,,,,,,,,,,,,,,,
E14.5,9811,9811,9811,9811,9811,9811,9811,9811,9811,9811,...,9811,9811,9811,9811,9811,9811,9811,9811,9811,9811
E15.5,7107,7107,7107,7107,7107,7107,7107,7107,7107,7107,...,7107,7107,7107,7107,7107,7107,7107,7107,7107,7107

In [9]:
adata[adata.obs["celltype"].isin(["Ngn3 high", "Ngn3 low"])]

View of AnnData object with n_obs × n_vars = 5074 × 242922
    obs: 'n_counts', 'sample', 'n_genes', 'log_genes', 'mt_frac', 'rp_frac', 'ambi_frac', 'nCount_RNA', 'nFeature_RNA', 'nCount_ATAC', 'nFeature_ATAC', 'nucleosome_signal', 'nucleosome_percentile', 'TSS.enrichment', 'TSS.percentile', 'S_score', 'G2M_score', 'phase', 'proliferation', 'celltype', 'nCount_peaks', 'nFeature_peaks'
    var: 'modality'
    uns: 'celltype_colors', 'neighbors'
    obsm: 'X_pca', 'X_pca_wsnn', 'X_spca_wsnn', 'X_umap', 'X_umap_ATAC', 'X_umap_GEX', 'X_umap_wsnn', 'lsi_full', 'lsi_red', 'umap', 'umap_ATAC', 'umap_GEX'
    obsp: 'connectivities', 'connectivities_wnn', 'distances', 'distances_wnn'

In [10]:
adata[adata.obs["celltype"].isin(["Ngn3 high", "Ngn3 low"])].n_obs/adata.n_obs

0.2999172479016432